<div class="d-flex flex-column w-100 vh-100 container bg-light border p-2">
  <div class="h-75 text-center align-items-center justify-content-center d-flex ">
    <h1 class="splash-font">Budgety</h1>
  </div>
  <div class=" d-flex flex-column">
    <%=link_to 'Login', new_user_session_path, class: 'btn btn-primary btn-lg rounded'%>
    <%=link_to 'Sign up', new_user_registration_path, class: 'btn btn-white btn-lg text-decoration-none text-secondary text-center'%>
  </div>
</div>