<h1 class="d-flex justify-content-center">Editing category</h1>

<%= render "form", category: @category %>

<div class="d-block">
  <%= link_to "Show this category", @category %> |
  <%= link_to "Back to categories", categories_path %>
</div>